<p>
  <b>Nombre de Usuario:</b>
  <%= @usuario.username %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>


<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Atras', login_path %>
